<h2>Welcome to Stores</h2>
List of stores

<!-- this is a list of stores, names should be links -->
<!-- currently not working -->
<% @stores.each do |store| %>
<div><%= store.name %></div>
<div><%= store.location %></div>
<% end %>


<%= link_to 'New Store', new_store_path %>

<% end %>